.ipynb_checkpoints
__pycache__
.DS_Store
.env*
.venv/
logs/
# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/workspace
/workspace_test

/idea
.idea

.env


/examples